@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round');

:root {

	--color-black: #000;
	--color-white: #fff;
	--color-gray: #f4f6f7;
	--color-blue-dark-10: #052f5f;
	--color-blue-light-10: #005377;
	--color-green: #06a77d;
	--color-tan: #d5c67a;
	--color-orange: #f1a208;

	--color-text: var(--color-black);

	--font-family-primary: 'Varela Round', sans-serif;
	--font-family-secondary: 'Montserrat', sans-serif;
	--base-font-size: 1em;

	--page-width: 80rem;
	--spacing-horizontal: 1rem;
	--spacing-vertical: 1.5rem;
	--gutter-width: 1rem;

	--border-radius: 0.25rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;

}

@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 64em);