.button {
	background-color: var(--color-green);
	border: 0;
	border-radius: 0.25rem;
	color: var(--color-white);
	font-family: var(--font-family-secondary);
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	transition: background-color 0.25s;

	&:hover {
		background-color: color(var(--color-green) shade(10%));
		cursor: pointer;
	}

	&:active {

	}
}

.button--alt {
	background-color: var(--color-orange);
	
	&:hover {
		
	}

	&:active {

	}
}